<div class="sign-up-page">
  <div class="all">
    <div class="form-box">
      <form  class="form" action="post" autocomplete="off" method="POST">
        <h1 class="title"> ADD PRODUCT </h1>
        <input type="text" class="form-input" name="name" id="name"
               placeholder="name" value="" >

        <input type="text" class="form-input" name="description" id="description"
               placeholder="description" value="" >

        <input type="text" class="form-input" name="price" id="price"
               placeholder="price" value="">

        <input type="text" class="form-input" name="imageUrl" id="imageUrl"
               placeholder="image url" value=""
               >
        <div class="form-input2">
          <button class="button-icon button-bg-1">  </button>
          <button class="button-icon button-bg-2">  </button>
          <button class="button-icon button-bg-3">  </button>
          <button class="button-icon button-bg-4">  </button>

        </div>


        <button  class="submit-button" type="submit" title="Przycisk zaloguj">
          CONFIRM
        </button>
      </form>
    </div>
  </div>
</div>
