<div class="home-page-all">
  <div class="all-page-photos">
    <div class="card-home bg1">
      <img class="card-home-img" routerLink="/notebooks">
      <div class="shadow-card-home" >
        <h1 class="shadow-text"> Laptopy </h1>
      </div>
    </div>
    <div class="card-home bg2" routerLink="/phones">
      <img class="card-home-img">
      <h1 class="shadow-text"> Telefony </h1>
    </div>
    <div class="card-home bg3" routerLink="/tablets">
      <img class="card-home-img">
      <h1 class="shadow-text"> Tablety </h1>
    </div>
    <div class="card-home bg4" routerLink="/accessories">
      <img class="card-home-img">
      <h1 class="shadow-text"> Akcesoria </h1>
    </div>
  </div>

<!--  <div *ngFor="let link of links">-->
<!--    <app-photo-shadow-hover [image]='link.url' [title]="link.name" ></app-photo-shadow-hover>-->

<!--  </div>-->

</div>
