.sign-up-page{
  background: url("https://images.unsplash.com/photo-1589362281138-e3f7ebe47f1a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80");
  width: 100vw;
  height:  calc(100vh + 120px);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -120px;
}
.all {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 17vh;
}

.form-box {
  width: 400px;
  height: 450px;
  background: linear-gradient(217deg, rgba(250, 250, 250, 0.8), rgba(255, 0, 0, 0) 70.71%),
  linear-gradient(127deg, rgba(183, 183, 190, 0.56), rgba(0, 255, 0, 0) 70.71%),
  linear-gradient(336deg, rgba(192, 189, 189, 0.8), rgba(0, 0, 255, 0) 70.71%);
  opacity: 1;
  box-shadow: 0 5px 10px #2e2e34;
  border-radius: 10px;
}

.form-box:hover{
  box-shadow: 0px 5px 15px #2e2e34;
}

.form-box h1{
  margin-top: 20px;
  align-self: center;
  display: flex;
  justify-content: center;
  font-family: sans-serif;;
  align-items: center;
  font-weight: bold;
  color: #C06C48FF;
}

.form{
  width: 100%;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;align-self: center;
}
.form i{
  display: none;
}
.form-input{
  height: 35px;
  width: 70%;
  margin: 5px;
  padding: 3px;
  border-radius: 20px;
  border: 0px solid #84c9ef ;

;
}
.title{
  margin-bottom: 20px;
  color: white;
}

.submit-button {
  align-items: center;
  margin-top: 20px;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #c06c48 0, rgba(250, 159, 115, 0.87) 100%);
  border: 0;
  box-shadow: rgba(45, 35, 66, .4) 0 1px 1px, rgba(45, 35, 66, .3) 0 1px 1px -1px, rgba(58, 65, 111, .5) 0 -1px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 50px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  width:250px;
  position: relative;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  border-radius: 10px;
  font-size: 20px;
}


.submit-button:hover {
  box-shadow: rgba(255, 185, 151, 0.87) 0 2px 2px, rgb(252, 158, 118) 0 3px 3px -3px, #9f8070 0 -3px 0 inset;
  transform: translateY(-1px);
}

.submit-button:active {
  box-shadow: #2e2e34 0 3px 7px inset;
  transform: translateY(2px);
}

.form p {
  margin-top: 25px;
  color: #2485FDFF;
  text-decoration: none;
}
